.App {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
